<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.practice.repository.IF_AccountDao">
	<!--  parameterType은 쿼리문의 ?부분의 정보 -->
	<insert id="insertOne" parameterType="com.example.practice.vo.RevenueVO">
		insert into erpRevenue values (#{revenueName},#{revenueType})
	</insert>
	<insert id="psInsert" parameterType="com.example.practice.vo.SlipVO">
		insert into erpSlippv values (slip_seq.NEXTVAL,#{pvslipCode},#{pvName},#{pvDate},#{pvslipName},#{pvCmpy},#{pvPrice},#{pvFee},#{pvPay},#{pvComment})
	</insert>
	<select id="selectAll" resultType="com.example.practice.vo.SlipVO">
		select t.* from (select sub.*, rownum as rnum from (select * from ERPSLIPPV order by PVCODE ASC) sub)
		t where rnum between #{startNo} and #{endNo}
	</select>
	<select id="totalCountPV" resultType="int">
		select count(*) from ERPSLIPPV
	</select>
	<select id="selectpvName" resultType="com.example.practice.vo.SlipVO">
		select t.* from (select sub.*, rownum as rnum from (select * from ERPSLIPPV where PVNAME = #{pvName} order by PVCODE ASC) sub)
		t where rnum between #{startNO} and #{endNO}
	</select>
	<select id="countpvName" resultType="int">
		select count(*) from ERPSLIPPV where PVNAME = #{pvName}
	</select>
	<select id="selectpvCmpy" resultType="com.example.practice.vo.SlipVO">
		select t.* from (select sub.*, rownum as rnum from (select * from ERPSLIPPV where PVCMPY = #{pvCmpy} order by PVCODE ASC) sub)
							t where rnum between #{startNO} and #{endNO}
	</select>
	<select id="countpvCmpy" resultType="int">
		select count(*) from ERPSLIPPV where PVCMPY = #{pvCmpy}
	</select>
</mapper>

